<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IoT_Farola"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="As3dumT7Ha5O88p15Mk7u-URCESmwaRfNNTeIwFF4Z5LE0WBTwOpf2lceXLLIBro" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppActivity">

        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity
            android:name=".AppActivity">
            <!-- Otras configuraciones de la actividad -->
        </activity>
        <activity android:name=".LoginCorreo">

        </activity>
        <activity android:name=".Registro">

        </activity>
        <activity android:name=".AcercaDeActivity"
            android:label="Acerca de ..."
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".Reestablecer">

        </activity>
        <activity android:name=".PhoneAuthHandler"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>